* { 
    box-sizing: border-box; margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
body {
    background: rgb(7, 24, 37);
}
header {
    background-image: url(../../imagenp/fondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center; 
}
article{

    max-width: 11000px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 15px;
    font-family: cursive;
}
.label {
    cursor: pointer;
    
}
.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: aliceblue;
}
.menu nav ul li {
    position: relative;
    float: left; 
}
.menu nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu nav ul li a:hover {
    color: #2177b1;
}

.fra {
    
    display: flex;
    padding: 4rem; 
      
}
.fra img {
    width: 20%;
    
}
.fra1 {
    padding: 150px 150px 0px 0px;
   
}
.fra1 h2 {
    color: aliceblue;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
    display: grid;
    justify-content: center;
    
}
.fra1 p {
    margin-top: 15px;
    color: #577380;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    display: grid;
    justify-content: center;  
}

main {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #0eaef3; 
}
.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .face h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    background: rgb(0,0,0,.4);
    text-align: center;  
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(6, 26, 44);
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link {
    border-top: solid 1px white;
    height: 50px;
    line-height: 50px;
}
.card .back .link a {
    color: #f3f3f3;
}
.card .back h2 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
footer {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background: #2177b1;
    padding: 4rem;
}