* { 
    box-sizing: border-box; margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
body {
    background: rgb(7, 24, 37);
}
header {
    background-image: url(../../imagenp/fondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center; 
}
article{

    max-width: 11000px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 15px;
    font-family: cursive;
}
.label {
    cursor: pointer;
    
}
.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: aliceblue;
}
.menu nav ul li {
    position: relative;
    float: left; 
}
.menu nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu nav ul li a:hover {
    color: #2177b1;
}

.fra {
    
    display: flex;
    padding: 4rem; 
      
}
.fra img {
    width: 20%;
    
}
.fra1 {
    padding: 150px 150px 0px 0px;
   
}
.fra1 h2 {
    color: aliceblue;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
    display: grid;
    justify-content: center;
    
}
.fra1 p {
    margin-top: 15px;
    color: #577380;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    display: grid;
    justify-content: center;  
}
footer {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background: #2177b1;
    padding: 4rem;
}