@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Mrs+Saint+Delafield&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Mrs+Saint+Delafield&family=Rye&family=Shadows+Into+Light&display=swap');
* { 
    box-sizing: border-box; margin: 0; padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
body {
    
    background: linear-gradient(to left, rgb(70, 68, 68),rgb(0, 0, 0));
    background-image: url(../../imagen/fondomain.avif);
    
}
header {
  background-image: url(../../imagen/Gemini_Generated_Image_p5gtwp5gtwp5gtwp.png);
  background-size: cover;
  min-height: 10vh;
}

    

header img { 
    width: 100px;
    align-self: center;
    justify-self: center;
    width: 300px;
}
header h1 { align-self: center; }
header img {
    width: 300px;
    display: grid;
    align-self: center;
    justify-content: start;
    
    
}

nav{
    background-image: url(../../imagen/Gemini_Ge.png);
    background-size: cover;
    min-height: 5vh;
    
}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(5,190px) 1fr;
    list-style: none;
    
}

nav a {
    display: grid;
    text-decoration: none;
    text-align: center;
    font-family: cursive;
    padding: .5rem 1rem;
    color: white;
}
 
nav a:hover {
    font-family: cursive;
    color: rgb(92, 24, 24);
}

.conter {
    display: flex;
    
}
aside {
    order: 2; 
    width: 400px;
    box-sizing: border-box; 
    background: rgba(14, 28, 46, 0.336);
    margin: 0;
    background-attachment: fixed; 
    justify-self: center;
}
main {
    order: 1;
    flex: 1;
    padding: 1rem;
}

.formspree{
    color: white;
    width: 400px;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 4px;
}
.formspree h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
}
.boton {
    width: 100%;
    background: rgb(49, 41, 41);
    border: 0;
    border-radius: 25px;
    color: white;
    font-family: fantasy;
    padding: 1rem;
}
.boton:hover {
    background: rgb(31, 7, 7);
}



input {
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}
button{
    background: palevioletred;
    padding: 1opx 15px;
    position: absolute;
    border: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: aliceblue;
    cursor: pointer;

}
section h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.sabias {
    color: brown;
    border: white solid;
    border-radius: 12px;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
}
.sabias h1 {
    font-size: 20px;
    color: orangered;
}
.sabias img{
     width: 300px;
     height: 300px;
     display: block;
     margin: auto;
}
.sabias h2 {
    margin-bottom: 1rem;
}
.img {
    color: aliceblue;
}
.img img {
    width: 100%;
    margin-top: 2rem;
}
.img h3 {
    margin-top: 1rem;
    font-size: 50px;
    text-align: center;
    font-family: "Rye", serif;
}
.img h4{
    margin-bottom: 1rem;
    font-size: 25px;
    color: orange;
}
.img h5 {
    margin-top: 1rem;
    font-size: 20px;
}
.img p{
    font-size: 16px;
}
.histo{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.histo img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.histo histo2{
    flex: 1;
}
.histo p{
    margin-bottom: 1rem;

}
.histo a{
    font-size: 20px;
    color: violet;
    margin-bottom: 1rem;
}
.histori{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.histori img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.histori p {
    margin-bottom: 1rem;
}
.histori a {
    font-size: 20px;
    color: violet;
    margin-bottom: 1rem;
}
footer {
    
    width: 101%;
    padding: 2rem;
    background: #2b0505;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Mrs Saint Delafield", cursive;
}
