@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Mrs+Saint+Delafield&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Mrs+Saint+Delafield&family=Rye&family=Shadows+Into+Light&display=swap');
* { 
    box-sizing: border-box; margin: 0; padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
}
body {
    
    background: linear-gradient(to left, rgb(70, 68, 68),rgb(0, 0, 0));
    background-image: url(../../imagen/fondomain.avif);
    
}
header {
  background-image: url(../../imagen/Gemini_Generated_Image_p5gtwp5gtwp5gtwp.png);
  background-size: cover;
  min-height: 10vh;
}

    

header img { 
    width: 100px;
    align-self: center;
    justify-self: center;
    width: 300px;
}
header h1 { align-self: center; }
header img {
    width: 300px;
    display: grid;
    align-self: center;
    justify-content: start;
    
    
}

nav{
    background-image: url(../../imagen/Gemini_Ge.png);
    background-size: cover;
    min-height: 5vh;
    
}

nav ul {
    display: grid;
    grid-template-columns: 1fr repeat(5,190px) 1fr;
    list-style: none;
    
}

nav a {
    display: grid;
    text-decoration: none;
    text-align: center;
    font-family: cursive;
    padding: .5rem 1rem;
    color: white;
}
 
nav a:hover {
    font-family: cursive;
    color: rgb(92, 24, 24);
}

.conter {
    display: flex;
    
}
aside {
    
    width: 400px;
    box-sizing: border-box; 
    background: rgba(14, 28, 46, 0.336);
    margin: 0;
    background-attachment: fixed; 
    
}
aside img {
    display: block;
    margin: auto;
}
main {
    
    padding: 1rem;
}

.noticia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.p {
    flex: 1;
    color: white;
    
}
.noticia p,h2 {
    margin-bottom: 2rem;
}
.noticia img {
    margin-left: 20px;
    width: 250px;
    height: 250px;
}
footer {
    
    width: 101%;
    padding: 2rem;
    background: #2b0505;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Mrs Saint Delafield", cursive;
}



