* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main { 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3,1fr;
    border: rgb(39, 39, 114) 4px solid; 
    padding: 2rem;
}
section{   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    border: purple solid 3px;
}
article { 
    border: darkcyan solid;
   width: 25%;
   height: 25%;
    background: rgb(78, 130, 165);
}
#art article, #art-1 article, #art-2 article {height: unset;}
#art {
    justify-items: start;
}
#art-1 {
    justify-items: end;
}
#art-2 {
    justify-items: center;
}

#art-3 {
    align-items: start;
}
#art-4 {
    align-items: end;
}
#art-5 {
    align-items: center;
}
#art-6 {
    align-items: stretch;
}
#art-7 {
    align-items: stretch;
}
