* {box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main { border: rgb(39, 39, 114) 4px solid; padding: 2rem;}
section{   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    border: purple solid 3px;
}
article { 
    border: darkcyan solid;
    width: 50%;
    height: 50%;
    background: rgb(78, 130, 165);
}
#art-1 { 
    justify-self: start; 
    align-self: start;
}
#art-2 {
   justify-self: center;
   align-self: self-start;
}
#art-3 {
    justify-self: end;
    align-self: self-start;
}
#art-4 { 
    justify-self: start; 
    align-self: center;
}
#art-5 {
    justify-self: center;
     align-self: center;
}
#art-6 {
     justify-self: end; 
     align-self: center;
}
#art-7 {
    align-self: self-end;
}
#art-8 {
    align-self: self-end; 
    justify-self: center;
}
#art-9 {
    align-self: self-end; 
    justify-self: end;
}
