* { box-sizing: border-box; margin: 0; padding: 0;}

body {display: grid;background: rgb(142, 142, 218);}

header {background: rgb(110, 15, 134); height: 100%;}


main {background: blueviolet; height: 300px;}
aside { background: blue;
    height: 300px;
}
footer { 
    background: rgb(0, 139, 252);
    height: 200px;
}

@media screen and (max-width:300px) {
    body { display: grid; grid-template-columns: 4fr 1fr;}
    header, footer, nav { grid-column: 1 / -1;}
    header nav {visibility: hidden;}
    
    
 }

     

