* {box-sizing: border-box; margin: 0;padding: 0;}

main {background: violet;
padding: 1rem;
}

section { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,120px);
    background: white;
}

article {
    border-radius: 1rem; margin: 1rem;
}

#uno {
    background: rgba(255, 0, 0, 0.397);
    grid-area: 1 / 1 / 3 / 3;
    z-index: 2;
}
#dos {
    background: rgba(0, 0, 255, 0.301);
    grid-area: 2 / 2 / 4 / 4;
    z-index: 1;
}
#tres {
    background: rgba(128, 0, 128, 0.288);
    grid-area: 3 / -3 / 5 / -1;
    z-index: 0;
}
#cuatro {
    background: rgba(153, 205, 50, 0.452);
    grid-area: 1 / 1 / -1 / -1;
    margin: 3rem;
    z-index: 4;
}
#formule {
    grid-template-columns: repeat(4,1px);
    grid-template-rows: repeat(4,120px)
}
#yes {
    background: rgba(121, 25, 121, 0.541);
   grid-area: 1/1/-1/-1;
   z-index: 0;
}
#uno- {
    grid-area: -4/ -3 / 2 / 5;
    z-index: 0;
    padding: 1rem;
    width: 500px;
    border-radius: 1rem;

 
}
#dos- {
    background: rgba(153, 205, 50, 0.452);
    grid-area: 2 / 3 / -3 / 3;
    z-index: 1;
    padding: 1rem;
    width: 300px;
}
#tres- {
    background: rgba(0, 0, 255, 0.363);
    grid-area: 3/2/-3/-2;
    z-index: 1;

}
#cuatro-