*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    background: rgb(43, 143, 156);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
section,article {
    margin: 1rem;
    border:  solid 3px;
    display: flex;
    border-radius: 1rem;
}
section {
    background: rgb(62, 31, 80);
    width: 550px;
    flex-wrap: wrap;
}
article {
    background: rgb(87, 28, 102);
    width: 100px;
    height: 100px;
    padding: 1rem;
    font-size: 3rem;
}
#s-row {flex-direction: row;}
#s-rowrew {flex-direction: row-reverse;}
#s-col {flex-direction: column; height: 450px}
#s-colrev {flex-direction: column-reverse; height: 450px;}